* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,body {
  background-color: #2b2929;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.card {
  max-width: 470px;
  width: 100%;
  padding: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}
.weather-icon {
  width: 120px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 50px;
  font-weight: 400;
}
.weather h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 15px;
  margin-top: -6px;
  font-family: 'Poppins'
}

.error {
  text-align: left;
  margin-left: 15px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
body.day {
  background: #87ceeb;
  color: #000;
}
body.night {
  background: #2c3e50;
  color: #fff;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.search input {
  flex: 1;
  padding: 40px;
  font-family: 'Poppins'
}
.search button {
  padding: 10px;
}
.weather-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.col {
  text-align: center;
}
.error {
  color: red;
  display: none;
}
.forecast {
  margin-top: 20px;
}
.forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.forecast-card {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-width: 100px;
}
.forecast-card img {
  width: 50px;
  height: 50px;
}
.temp,
.City {
  text-align: center;
  font-family: 'Poppins'
}
.day-night-info {
  text-align: center;
  margin: 10px 0;
  font-family: 'Poppins';
  margin-right: 20px;
  
  
}
.forecast-font {
  text-align: center;
  margin: 30px 0;
  font-family: 'Poppins'
}